@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap'); 
.component8{
    margin: 0px 24px;
}
.bestseller{
    margin-top: 150px;
    color: #455958;
    font-size: 58px;
    font-weight: bolder;
    font-style: Raleway;
}

@media only screen and (max-width:415px)
{
    .bestseller{
        margin-top: 130px;
        color: #455958;
        font-size: 38px;
        font-weight: bolder;
        font-style: Raleway;
    }
}

@media only screen and (min-width:415px) and (max-width:860px)
{
    .bestseller{
        font-size: 50px;
    }
}

.bestseller-des{
    color: #455958;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    margin: 10px 27% 0 27%;
} 

@media only screen and (max-width:415px)
{
    .bestseller-des{
        font-size: 16px;
        margin: 0;
    } 
}

@media only screen and (min-width:415px) and (max-width:860px)
{
    .bestseller-des{
        font-size: 17px;
        margin: 10px 20% 0 20%;
    } 
}

.bestseller-products-items{
    margin-top: 50px;
}

.bestseller-products-items-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 100px;
    padding-right: 100px;
}
@media only screen and (max-width:415px)
{
    .bestseller-products-items-1{
        display: block;
        padding: 20px;
        margin-top: -20px;
    }
}

@media only screen and (min-width:415px) and (max-width:860px)
{
    .bestseller-products-items-1{
        display: block;
    }
}

.bestseller-border{
    border-radius: 15px;
    background: rgb(244, 246, 246);
    height: 200px;
    width: 400px;
    color: #747D88;
    padding: 24px;
    display: flex;
    margin-bottom: 20px;
}

@media only screen and (max-width:415px)
{
    .bestseller-border{
        width: 100%;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width:415px) and (max-width:860px)
{
    .bestseller-border{
        width: 100%;
        margin-bottom: 20px;
    }
}

.kachori-photo{
    background-image: url('/src/Images/kachori.jpg');
    height: 150px;
    width: 150px;
    background-size: 100% 100%;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.fries-photo{
    background-image: url('/src/Images/fries.jpg');
    height: 150px;
    width: 150px;
    background-size: 150px 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.manchurian-photo{
    background-image: url('/src/Images/manchurian.jpg');
    height: 150px;
    width: 150px;
    background-size: 200px 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.noodles-photo{
    background-image: url('/src/Images/noodles.jpg');
    height: 150px;
    width: 150px;
    background-size: 100% 100%;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.springroll-photo{
    background-image: url('/src/Images/spring-roll.jpg');
    height: 150px;
    width: 150px;
    background-size: 150px 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.dahi-golgappe-photo{
    background-image: url('/src/Images/dahi-golgappe.jpg');
    height: 150px;
    width: 150px;
    background-size: 150px 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.same{
    margin-left: 10%;
    text-align: left;
}

.product-rating-name{
    color: #455958;
    font-size: 22px;
    font-style: Raleway;
    font-weight: 500;
}

.product-rating-star{
    margin-top: 10px;
    color: lightgreen;
    font-style: Raleway;
}

.product-rating-price{
    font-style: Raleway;
    color: #455958;
    font-size: 24px;
    font-weight: 600;
}

.product-rating-buy-now-btn{
    margin-top: 10px;
    height: 40px;
    width: 150px;
    color: rgb(52, 191, 52);
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid #ffd000;
}

.product-rating-buy-now-btn:hover{
    background-color: #ffd000;
    color: white;
}

.product-rating-buy-now-btn i{
    margin-right: 10px;
}


/* bestseller second component */
.bestseller-second-component{
    margin-top: 30px;
    display: flex;
    height: 400px;
    width: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media only screen and (max-width:415px)
{
    .bestseller-second-component{
        height: 1900px;
        width: auto;
    }
}

@media only screen and (min-width: 415px) and (max-width: 640px)
{
    .bestseller-second-component{
        height: 1800px;
    }
}

@media only screen and (min-width: 640px) and (max-width: 790px)
{
    .bestseller-second-component{
        height: 1050px;
    }
}

@media only screen and (min-width: 790px) and (max-width: 1501px)
{    
    .bestseller-second-component{
        height: 1000px;
    }
}

.bestseller-second-component-items{
    height: 400px;
    width: 300px;
    margin: 10px;
}

@media only screen and (max-width:415px)
{
    .bestseller-second-component-items{
        height: 520px;
        width: 350px;
        margin-top: -40px;
    }
}

@media only screen and (min-width: 415px) and (max-width: 790px)
{ 
    .bestseller-second-component-items{
        margin-top: 10%;
    }
}

@media only screen and (min-width: 790px) and (max-width: 1501px)
{    
    .bestseller-second-component-items{
        margin-top: 30px;
    }
}

.bestseller-second-component-image1{
    background-image: url('/src/Images/pizza.jpg');
    height: 200px;
    width: 300px;
    background-size: cover;
    border-radius: 15px;
}

@media only screen and (max-width:415px)
{
.bestseller-second-component-image1{
    background-image: url('/src/Images/pizza.jpg');
    height: 250px;
    width: 350px;
    background-size: 350px 250px;
}
}

@media only screen and (min-width: 790px) and (max-width: 1501px)
{    
    .bestseller-second-component-image1{
        background-image: url('/src/Images/pizza.jpg');
        height: 250px;
        width: 300px;
        background-size: 350px 250px;
    }
}

.bestseller-second-component-image2{
    background-image: url('/src/Images/steam-momos.jpg');
    height: 200px;
    width: 300px;
    background-size: cover;
    border-radius: 15px;
}

@media only screen and (max-width:415px)
{
.bestseller-second-component-image2{
    background-image: url('/src/Images/steam-momos.jpg');
    height: 250px;
    width: 350px;
    background-size: 350px 250px;
    border-radius: 15px;
}
}

@media only screen and (min-width: 790px) and (max-width: 1501px)
{    
    .bestseller-second-component-image2{
        background-image: url('/src/Images/steam-momos.jpg');
        height: 250px;
        width: 300px;
        background-size: 350px 250px;
    }
}

.bestseller-second-component-image3{
    background-image: url('/src/Images/pani-golgappe.jpg');
    height: 200px;
    width: 300px;
    background-size: cover;
    border-radius: 15px;
}

@media only screen and (max-width:415px)
{
    .bestseller-second-component-image3{
        background-image: url('/src/Images/pani-golgappe.jpg');
        height: 250px;
        width: 350px;
        background-size: 350px 250px;
        border-radius: 15px;
    }
}

@media only screen and (min-width: 790px) and (max-width: 1501px)
{    
    .bestseller-second-component-image3{
        background-image: url('/src/Images/pani-golgappe.jpg');
        height: 250px;
        width: 300px;
        background-size: 350px 250px;
    }
}

.bestseller-second-component-image4{
    background-image: url('/src/Images/samosa.jpg');
    height: 200px;
    width: 300px;
    background-size: cover;
    border-radius: 15px;
}

@media only screen and (max-width:415px)
{
    .bestseller-second-component-image4{
        background-image: url('/src/Images/samosa.jpg');
        height: 250px;
        width: 350px;
        background-size: 350px 250px;
        border-radius: 15px;
    }
}

@media only screen and (min-width: 790px) and (max-width: 1501px)
{    
    .bestseller-second-component-image4{
        background-image: url('/src/Images/samosa.jpg');
        height: 250px;
        width: 300px;
        background-size: 350px 250px;
    }
}

.bestseller-second-component-image1-des{
    text-align: center;
}

@media only screen and (min-width: 790px) and (max-width: 1501px)
{    
    .bestseller-second-component-image1-des{
        text-align: center;
    }
    
}

.bestseller-second-component-image1-des-name{
    color: #455958;
    font-size: 25px;
    font-style: Raleway;
    font-weight: 500;
    margin-top: 20px;
}

.bestseller-second-component-image1-des-star{
    margin-top: 10px;
    color: lightgreen;
    font-style: Raleway;
}

.bestseller-second-component-image1-des-price{
    font-style: Raleway;
    color: #455958;
    font-size: 28px;
    font-weight: 600;
    margin-top: 10px;
}

.bestseller-second-component-image1-des-buy-btn{
    margin-top: 20px;
    height: 40px;
    width: 150px;
    color: rgb(52, 191, 52);
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid #ffd000;
    margin-left: 75px;
    line-height: 35px;
}

@media only screen and (max-width:415px)
{
    .bestseller-second-component-image1-des-buy-btn{
        margin-left: 100px;
        line-height: 35px;
    }
}

.bestseller-second-component-image1-des-buy-btn:hover{
    background-color: #ffd000;
    color: white;
}

.bestseller-second-component-image1-des-buy-btn i{
    margin-right: 10px;
}