@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap'); 
/* .component8{
    margin: 0px 24px;
} */
.bestseller{
    margin-top: 150px;
    color: #455958;
    font-size: 58px;
    font-weight: bolder;
    font-style: Raleway;
}

@media only screen and (max-width:415px)
{
    .bestseller{
        margin-top: 130px;
        color: #455958;
        font-size: 38px;
        font-weight: bolder;
        font-style: Raleway;
    }
}

@media only screen and (min-width:415px) and (max-width:860px)
{
    .bestseller{
        font-size: 50px;
    }
}

.bestseller-des{
    color: #455958;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
    margin: 10px 27% 0 27%;
} 

@media only screen and (max-width:415px)
{
    .bestseller-des{
        font-size: 16px;
        margin: 0 20px;
    } 
}

@media only screen and (min-width:415px) and (max-width:860px)
{
    .bestseller-des{
        font-size: 17px;
        margin: 10px 20% 0 20%;
    } 
}

.bestseller-products-items{
    margin-top: 50px;
}

.bestseller-products-items-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media only screen and (max-width:426px)
{
    .bestseller-products-items-1{
        display: block;
        padding: 20px;
        margin-top: -20px;
    }
}

@media only screen and (min-width:426px) and (max-width:860px)
{
    .bestseller-products-items-1{
        display: block;
        padding: 0 10%;
    }
}

.bestseller-border{
    border-radius: 15px;
    background: rgb(244, 246, 246);
    height: auto;
    width: 400px;
    color: #747D88;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

@media only screen and (max-width:415px)
{
    .bestseller-border{
        width: 100%;
        /* margin-bottom: 20px; */
    }
}

@media only screen and (min-width:415px) and (max-width:860px)
{
    .bestseller-border{
        width: 100%;
        /* margin-bottom: 20px; */
    }
}
@media only screen and (min-width: 860px)
{
    .bestseller-border{
        margin: 10px;
    }
}

.kachori-photo{
    background-image: url('/src/Images/kachori.jpg');
    min-height: 150px;
    min-width: 150px;
    background-size: 100% 100%;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.fries-photo{
    background-image: url('/src/Images/fries.jpg');
    min-height: 150px;
    min-width: 150px;
    background-size: 150px 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.manchurian-photo{
    background-image: url('/src/Images/manchurian.jpg');
    min-height: 150px;
    min-width: 150px;
    background-size: 200px 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.noodles-photo{
    background-image: url('/src/Images/noodles.jpg');
    min-height: 150px;
    min-width: 150px;
    background-size: 100% 100%;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.springroll-photo{
    background-image: url('/src/Images/spring-roll.jpg');
    min-height: 150px;
    min-width: 150px;
    background-size: 150px 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.dahi-golgappe-photo{
    background-image: url('/src/Images/dahi-golgappe.jpg');
    min-height: 150px;
    min-width: 150px;
    background-size: 150px 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.same{
    text-align: center;
}

.product-rating-name{
    color: #455958;
    font-size: 22px;
    font-style: Raleway;
    font-weight: 500;
}

.product-rating-star{
    margin-top: 10px;
    color: lightgreen;
    font-style: Raleway;
}

.product-rating-price{
    font-style: Raleway;
    color: #455958;
    font-size: 24px;
    font-weight: 600;
}

.product-rating-buy-now-btn{
    margin-top: 10px;
    height: 40px;
    width: 150px;
    color: rgb(52, 191, 52);
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid #ffd000;
}

.product-rating-buy-now-btn:hover{
    background-color: #ffd000;
    color: white;
}

.product-rating-buy-now-btn i{
    margin-right: 10px;
}

