
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,300');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');


.navbar
{
    width: 88%;
    margin: 0 auto;

    @media only screen and (min-width:970px) and (max-width:1100px)
    {
        width: 100%;
        margin: 0 auto;
    }

    @media only screen and (min-width:415px) and (max-width:970px)
    {
        width: 100%;
        height: 100px;
        margin: 0;
    }

    @media only screen and (max-width:415px)
    {
        width: 100%;
        height: 100px;
        margin: 0;  
    }
}
.navbar1 
{
    background-color: #a22458;
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
    padding: 25px;
    width: 100%;
    height: 50px;
    border-radius: 50px 15px;
    font-size: 1rem;
    align-items: center;

    @media only screen and (max-width:970px)
    {
        display: none !important;
    }
}
.navbar1-left-side {
    display: flex;
}

.navbar1-right-side {
    display: flex;
}

.navbar1-left-side a,
.navbar1-right-side a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.navbar1-left-side p{
    margin: 0 10px;
}
.navbar1-right-side p{
    margin: 0 10px;
}
/* .navbar1-right-side p:hover{
    color: #ffd000;
} */
.navbar1-right-side span{
    margin-left: 20px;
}

.text-orange {
    color: #ffd000;
}

/* ------navbar 2 ------- */

.navbar2{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    margin: 0 20px;
    padding: 8px 0;
    border-bottom: 1px solid rgba(255, 255, 255, .1);

    @media only screen and (max-width:415px)
    {
        height: 100px;
        width: 100%;
    }
    
    @media only screen and (min-width:415px) and (max-width:970px)
    {
        height: 100px;
        width: 100%;
    }
}
.eatables-h1 h1{
    padding: 20px 0;
    margin: 0 0 8px;
    font-size: 40px;
    font-family: Raleway;
    font-weight: 700;
    color: #a22458;
    cursor: pointer;

    @media only screen and (max-width:415px)
    {
        font-size: 30px;
    }
    
    @media only screen and (min-width:415px) and (max-width:970px)
    {
        font-size: 40px;
    }
}
.nav-menu{
    color: #444749;
    background-color: #FFFFFF;

    @media only screen and (max-width:970px)
    {
        display: none;
    }
}
.nav{
    @media only screen and (max-width:970px)
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 6;
        position: absolute;
        left: 0px;
        top: 40px;
        background-color: white;
    }
    
}
.nav-item a{
    color: #444749;
    padding: 5px 15px;
    align-items: center;
}
.nav-item a:hover{
    color: #a22458;
}
.nav-link{
    color: #a22458;
}

.three-arrow-icon{
    display: none;

    @media only screen and (max-width:970px)
    {
        margin: 15px 0px 30px 5px;
        display: flex;
        color: #a22458;
        font-size: 25px;
        border: 1px solid gainsboro;
        border-radius: 10px;
        padding: 5px 10px;
        cursor: pointer;
    }
}


.nav-icons{
    display: flex;
    margin: 16px 0 16px 16px;

    @media only screen and (max-width:415px)
    {
        display: none;
    }
    @media only screen and (min-width:415px) and (max-width:970px)
    {
        display: none;
    }
}
.nav-icons i{
    margin: 14px;;
}
.nav-icons i:hover{
    color: #651d3b;
}
.fa-user{
    font-size: 2rem;
    color: #a22458; 
}
.fa-bag-shopping{
    font-size: 2rem;
    color: #a22458;
}
.fa-magnifying-glass{
    font-size: 1rem;
    border: 2px solid #ffd000;
    border-radius: 50%;
    padding: 8px;
    color: #a22458;
    transition: 0.5s;
}
.fa-magnifying-glass:hover{
    background-color: #ffd000;
}
