.auth-page {
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 100px;
  }
  
  .auth-page h2 {
    text-align: center;
  }
  
  .auth-page form div {
    margin-bottom: 1rem;
  }
  
  .auth-page label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .auth-page input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .auth-page button {
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .auth-page button:hover {
    background-color: #0056b3;
  }
  
  .auth-page .toggle-btn {
    background-color: #6c757d;
  }
  
  .auth-page .toggle-btn:hover {
    background-color: #5a6268;
  }