.service-card-outer{
    height: auto;
    width: 100%;
    padding: 48px 12px;

    @media only screen and (max-width: 776px)
    {
        height: 1300px !important;
    }

    /* @media only screen and (min-width: 415px) and (max-width: 776px)
    {
        height: 1300px;
    } */

    @media only screen and (min-width: 776px) and (max-width: 1501px)
    {
        height: 700px;
    }
}
.service-detail-card{
    width: 88%;
    height: 365px;
    margin: 0 5%;
    padding: 48px 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    @media only screen and (max-width: 415px){
        padding: 20px 10px;
    }
}
.service-detail-card-item{
    margin: 7px;
    width: 305px;
    height: auto;
    padding: 24px;
    color: #747D88;
    background-color: #F4F6F8;
    border-radius: 10px !important;
    text-align: center !important;
    position: relative;

    @media only screen and (max-width: 415px)
    {
        width: 100%;
        margin: 5%;
        text-align: center;
        height: auto;
        padding: 24px;
        /* margin-bottom: 20px; */
    }
}
.service-detail-card-item i{
    border: hidden;
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 60px;
    align-items: center !important;
    border-radius: 50%;
    margin:  0 70px 50px;
    padding: 20px;
    color: white;
    background-color: #ffa424;
    font-size: 50px;
    z-index: 2;
    position: relative;
}
.service-detail-card-item::after{
    content: "";
    width: 50px;
    height: 50px;
    background-color: #ffa424;
    position: absolute;
    z-index: 1;
    bottom: 136px;
    transform: translate(-50%) rotate(45deg);
}

.heading-5-service-card{
    color: #45595B;
    font-family: Raleway;
    margin-bottom: 0.5rem;
    font-family: "Raleway",sans-serif;
    font-weight: 600;
    line-height: 1.2;
    color: #45595b;
}