@import url('https://fonts.googleapis.com/css?family=Raleway');

.store1{
    height: 650px;
    width: 100%;
    background: rgb(255, 165, 0, 0.85);
    font-family: Raleway;
}

@media only screen and (max-width:415px)
{
    .store1{
        height: 690px;
        width: 100%;
    }
}

@media only screen and (min-width:415px) and (max-width:1050px)
{
    .store1{
        height: 100% !important;
        width: 100%;
    }
}

.burger-big{
    background-image: url('/src/Images/burger-big.png');
    height: 700px;
    width: 550px;
    background-size: 550px 700px;
    background-repeat: no-repeat;
    margin-right: 150px;
}


@media only screen and (max-width:415px)
{
    .burger-big{
        width: 400px;
        height: 400px;
        background-size: 400px 400px;
    }
}

@media only screen and (min-width:415px) and (max-width:1050px)
{
   
    .burger-big{
        width: 70%;
        height: 600px;
        background-size: 100% 600px;
        margin-left: 15%;
    }
}

.store2{
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
}

@media only screen and (max-width:415px)
{
    .store2{
        display: block;
    }
}

@media only screen and (min-width:415px) and (max-width:1050px)
{
    .store2{
        display: block;
    }
}

.the-text{
    font-size: 60px;
    margin-top: 100px;
}

@media only screen and (max-width:415px)
{
    .the-text
    {
        font-size: 40px;
        margin-top: -35px;
    }
}

@media only screen and (min-width:415px) and (max-width:1050px)
{
   
    .the-text
    {
        margin: 0;
        font-size: 500%;
        margin-top: -35px;
    }
}

.fresh-food{
    color: white;
    font-weight: 700;
    margin-right: 210px;
}

@media only screen and (max-width:415px)
{
    .fresh-food{
        width: 300px;
        margin-left: 20px;
    }
}


@media only screen and (min-width:415px) and (max-width:1050px)
{
   
    .fresh-food{
        width: 100%;
        /* margin-left: 15%; */
    }
}

.our-store{
    color: #455958;
    text-align: left;
    margin-left: 150px;
    margin-top: 20px;
}

@media only screen and (max-width:415px)
{
    .our-store{
       margin-left:20px;
        margin-top: 10px;
    }
}

@media only screen and (min-width:415px) and (max-width:1050px)
{
    .our-store{
        margin-left: 15%;
        width: 85%;
         margin-top: 10px;
     }
}

.store-des{
    font-size: 18px;
    text-align: left;
    margin-left: 150px;
    color: #455958;
    margin-top: 20px;
}

@media only screen and (max-width:415px)
{
    .store-des{
        margin-top: 15px;
        width: 370px;
        margin-left:20px;
    }
}


@media only screen and (min-width:415px) and (max-width:1050px)
{
    .store-des{
        width: 80%;
        margin-top: 15px;
        font-size: 30%;
        margin-left: 15%;
    }
}

.buy-btn{
    margin-left: 130px;
    margin-top: 20px;
    height: 60px;
    width: 150px;
    align-items: left;
    margin-right: 600px;
    background: rgb(255, 165, 0, 0.85);
    border: 2px solid white;
    border-radius: 30px;
    font-size: 18px;
    color: #455958;
    transition: 0.5s;
}

@media only screen and (max-width:415px)
{
    .buy-btn
    {
     margin-left:20px;
    margin-top: 20px;
    height: 65px;
    width: 150px;
}
}

@media only screen and (min-width:415px) and (max-width:1050px)
{
    .buy-btn{
    margin-top: 20px;
    height: 65px;
    width: 150px;
}
}

.buy-btn:hover{
    background: rgb(32, 157, 32);
    color: white;
    font-weight: 600;
}